@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Nunito', sans-serif;
    padding: 20px;
    margin: 0;
    background-color: #4708f134;
}

.colors-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}
.single-card {
    width: 200px;
    height: 180px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .3s;
}
.single-card .content{
    text-align: center;
    padding: 8px 25px;
    border-radius: 10px;
    display: none;
}
.single-card p {
    margin: 0;
    color: #0d0d0d;
    font-weight: 600;
}
.single-card:hover {
    transform: scale(1.05 );
}
.single-card:hover .content {
    background: #d6d6dc9c;
    display: block;

}
.single-card button {
    background-color: transparent;
    border: 0px;
    border-radius: 9px;
    width: 42px;
    padding: 5px 6px;
    cursor: pointer;
    margin-top: 7px;
}
.single-card button img {
    width: 100%;
}
.copy-alert {
    font-size: 12px;
    color: gray;
    position: absolute;
    bottom: 10px;
}
.palette-color {
    text-align: center;
    margin: 4% 0%;
}
.palette-color h1 {
    font-size: 4rem;
    line-height: 2.5rem;
    font-weight: 900;
    color: #2f44de;
    text-shadow: 2px 3px 0px #fff;
    animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.palette-color input[type="text"] {
    font-size: inherit;
    padding: 12px 13px;
    outline: none;
    border: 0;
    border-radius: 10px;
}
.palette-color input[type="submit"] {
    border: 0;
    outline: none;
    padding: 12px;
    font-size: inherit;
    border-radius: 10px;
    background-color: #2f44de;
    color: #fff;
    transition: 0.3s;
}
.palette-color input[type="submit"]:hover {
    background-color: #802fde6b;
}

.palette-color form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.error {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: red;
    width: fit-content;
    margin: 30px auto 0px;
    padding: 4px 11px;
    border-radius: 8px;
}

p.author {
    display: flex;
    justify-content: center;
    FONT-VARIANT: JIS04;
    margin-top: 3%;
    gap: 7px;
}
p.author a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
}